@import "header.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: block;
    width: 600px;
    margin: 0 auto;
    height: 200px;
    border: 1px solid black;
}